@charset "UTF-8";

@font-face {
	font-family: 'yg-jalnan';
	src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.2/JalnanOTF00.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
*{
	font-family: 'yg-jalnan';
	font-size: x-large;
}
html {
	width: 80%;
	margin-right: auto;
	margin-left: auto;

	line-height: 1.5;
}
#list {
	border: 2px solid gray;
}
button {
	cursor: pointer;
	padding: 6px 12px;
	border-radius: 6px;
	color: #fff;
	border: 2px;
	background-color: #007bff;
	transition: background-color .2s
}
button:hover {
	background-color: #0069d9;
}
button:active {
	background-color: #003c7c;
}

span {
	margin-right: 20px;
}
.donestyle {
	text-decoration: line-through;
	color: lightgray;
}
div {
	margin: 10px;
}

#layout {
	border: 1px solid black;
	padding: 30px
}